.logo {
  position: relative;
  z-index: 2;
  font-family: omori;
  font-size: 4.5rem;
  letter-spacing: 0.25em;
  color: #f2f2f2;
  will-change: transform;

  transform: translateY(0);
  opacity: 1;
  animation: logoSlideUp 1.3s ease-in-out forwards;
  animation-delay: 1.1s; 

  text-shadow:
    0 0 8px rgba(255,255,255,0.25),
    0 0 20px rgba(255,255,255,0.15);
}

/* Responsividad para móviles */
@media (max-width: 768px) {
  .logo {
    font-size: 5rem;
    letter-spacing: 0.2em;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 3.7rem;
    letter-spacing: 0.15em;
  }
}

@keyframes logoSlideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-36vh);
  }
}


.layer {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

/* RGB */
.layer-a {
  color: rgba(255, 158, 190, 0.7); 
}

.layer-b {
  color: rgba(140, 198, 255, 0.7); 
}

/* CAPA TV / VHS */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none; 
  z-index: 999;

  background:
    repeating-linear-gradient(
      to bottom,
      rgba(255,255,255,0.03),
      rgba(255,255,255,0.03) 1px,
      transparent 1px,
      transparent 3px
    );

  mix-blend-mode: overlay;
  opacity: 0.15;
}


body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 998;

  background: rgba(255,255,255,0.03);
  animation: flicker 6s infinite;
}

@keyframes flicker {
  0%, 100% { opacity: 0.04; }
  50% { opacity: 0.08; }
}

